<main role="main" class="col-md">
    {{> sortbar}}
    <div>
        <div class="row row-cols-3">
            {{#each events}}
                {{> card
                    title=title
                    date=date
                    location=location
                    covid=covid
                    weather=weather
                }}
            {{/each}}
            
        </div>
    </div>
</div>
