<main role="main" class="col-md">
    {{> sortbar}}
    <div>
        <div class="row row-cols-3">
            {{#each events}}
                {{> card
                    title=title
                    date_start=date_start
                    venue_name=venue_name
                }}
            {{/each}}
            
        </div>
    </div>
</div>
