<main role="main" class="col-md">
    <br>
    <div>
        <div class="row row-cols-3">
            {{#each events}}
                {{> card
                    
                }}
            {{/each}}
            
        </div>
    </div>
</div>
