<div class="DiscoverPage" data-testid="discover-page">
    <h2 class="DiscoverPage__title">{{title}}</h2>
    <div class="DiscoverPage__movies-container">
        <div class="CollectionGrid">
            
        </div>
    </div>
</div>