<nav class="card col-sm-2 d-none d-xl-block bg-light sidebar">
    <div class="card mt-4">
        <div class="card-header">
            Event Search Filters
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="sr-only" for="covidGroup">Covid Rate: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <div class="input-group-text">cases</div>
                        </div>
                        <select class="form-control" name="covid" id="covidGroup">
                            <option>Low</option>
                            <option>Average</option>
                            <option>High</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="distanceGroup">Distance: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <div class="input-group-text">miles</div>
                        </div>
                        <input type="number" class="form-control" id="distanceGroup" placeholder="10">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="dateGroup">Date: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <div class="input-group-text">before</div>
                        </div>
                        <input type="date" id="start" name="trip-start"
                            value="2021-12-01" min="2021-01-01" max="2022-01-01">
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>