<nav class="card col-sm-2 d-none d-xl-block bg-light sidebar">
    <div>
        <h2 class="card-title">Filters:</h1>
        <form>
            <h4>Distance:</h4>
            <div class="distance input-group d-flex flex-row align-items-center py-2">
                <input type="number" aria-label="min" min=0 placeholder="min..." class="form-control">
                <label class="px-1">to</label>
                <input type="number" aria-label="max" min=0 placeholder="max..." class="form-control">
                 <label class="px-1">miles</label>
            </div>
            <div class="covid form-group py-2">
                <h4>COVID-19 Rate:</h4>
                <select class="form-control" id="covid">
                    <option>Low</option>
                    <option>Average</option>
                    <option>High</option>
                </select>
            </div>
            <div class="date form-row row-cols-1 py-2">
                <h4>Date:</h4>
                <h6>Before:</h6>
                <input type="date" id="before">
                <h6>After:</h6>
                <input type="date" id="after">
            </div>
            <button type="submit" class="btn btn-primary my-3">Submit</button>
        </form>
    </div>
</nav>