<nav class="navbar navbar-expand navbar-dark bg-dark px-4">
      <a class="navbar-brand" href="#">QR8</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <form class="form-inline my-2 my-md-0 container-fluid">
          <input class="form-control" type="text" placeholder="Search">
        </form>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </nav>