<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 sticky-top">
    <div class="container-fluid" >
        <a class="navbar-brand" href="#">QR8</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#searchNavbar" aria-controls="searchNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Event Locator</a>
                </li>
            </ul>
            <form class="d-flex" method="post" action="/home_events">
              <input class="form-control me-2" type="search" placeholder="Search" name='q' aria-label="Search">
              <select class="form-select" aria-label="Default select example" name="sortBy">
                <option value="date_start" selected>Sort By</option>
                <option value="date_start">Date</option>
                <option value="covid_cases">Covid</option>
                <option value="date_start">Distance</option>
              </select>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>