<nav class="nav">

    <div class="ui large borderless Nav_menu menu">
        <div class="ui container">
            <a data-testid="logo" class="header horizontally fitted item" href="/">
                <img src="/public/images/QR8.jpg" alt="logo">
            </a>
        </div>
    </div>
    
</nav>