<div class="container-fluid bg-light pt-3">
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Sort by:</span>
        <select class="form-control" id="sort">
                    <option>Date</option>
                    <option>Distance</option>
                    <option>COVID-19 Rate</option>
                </select>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle bg-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
        </div>
    </div>
</div>