<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>QR8</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    {{> nav }}
    {{> card title='EVENT' date='12-22-21' location='100 Fake Ln, Boston, MA 02121' covid='High' weather='Partly Cloudy'}}
  </body>
</html>