body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif !important;

  background-color: #1b1c1d;
}

.App__quicksearch {
  margin-bottom: 2rem;
}
.MoviePage_bookmark,
.card .bookmark {
  height: 40px;
  font-size: 15px;
  border: none;
  background-color: #f4f6f8;
}
.MoviePage .added,
.card .added {
  border: none;
  background-color: #2da44e;
  color: white;
}

.header {
  font-size: 24px;
}

.card__genres {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
}

.Nav__menu .item:nth-child(2) {
  padding-left: 40px !important;
  text-transform: uppercase;
  padding-right: 40px !important;
}

.Favourites__container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  width: 110%;
}

.Similar__container .card:nth-child(1) {
  margin-top: 1rem !important;
}
.Favourites__container .card:nth-last-child(1),
.Similar__container .card:nth-last-child(1) {
  margin-bottom: 1rem !important;
}

.Favourites__container .card:nth-child(1) {
  align-self: stretch;
  margin-top: 1rem !important;
}

.Favourites__container .card {
  margin-right: 2vw !important;
  display: flex !important;
  width: 26vw !important;
}

.header {
  padding-bottom: 20px;
}
.Similar__container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: stretch !important;
}
.Similar__container .card {
  margin-right: 2vw !important;
  width: 15rem !important;
}
.Similar__container img {
  margin-left: auto;
  margin-right: auto;
}
#genre {
  background-color: #f4f6f8;
  color: fff;
  padding: 5px;
  border: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  white-space: wrap;
}

.genres {
  display: flex;
  flex-wrap: wrap !important;
  white-space: pre-wrap;
  justify-content: center;
  padding-top: 20px;
}
.MoviePage_bookmark {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

#similar{
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
