<!-- Implement Homepage HTML-->
<!-- Base layout on movie site layouts-->
<div class="container-fluid">
    <div class="row">
        {{> filterbar}}
        {{{log events}}}
        {{> card_catalog events=items}}
    </div>
</div>    
